{% extends 'attendance/profile/base_user.html' %}
{% block title %}Welcome {{ school.principal_name }}{% endblock %}
{% load static %}
<style>
    .align li{
        list-style: none;
        float: left;
        margin-right: 20px;
    }

    
/*
	Max width before this PARTICULAR table gets nasty. This query will take effect for any screen smaller than 760px and also iPads specifically.
	*/
	@media
	  only screen 
    and (max-width: 760px), (min-device-width: 768px) 
    and (max-device-width: 1024px)  {

		/* Force table to not be like tables anymore */
		table, thead, tbody, th, td, tr {
			display: block;
		}

		/* Hide table headers (but not display: none;, for accessibility) */
		thead tr {
			position: absolute;
			top: -9999px;
			left: -9999px;
		}

    tr {
      margin: 0 0 1rem 0;
    }
      
    tr:nth-child(odd) {
      background: #ccc;
    }
    
		td {
			/* Behave  like a "row" */
			border: none;
			border-bottom: 1px solid #eee;
			position: relative;
			padding-left: 50%;
		}

		td:before {
			/* Now like a table header */
			position: absolute;
			/* Top/left values mimic padding */
			top: 0;
			left: 6px;
			width: 45%;
			padding-right: 10px;
			white-space: nowrap;
		}

		/*
		Label the data
    You could also use a data-* attribute and content for this. That way "bloats" the HTML, this way means you need to keep HTML and CSS in sync. Lea Verou has a clever way to handle with text-shadow.
		*/
		td:nth-of-type(1):before { content: "O'quvchi FISH"; }
		td:nth-of-type(2):before { content: "Davomat olish"; }
	}
</style>
{% block content %}
<div class="content-wrapper">
    <div class="row">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
         
          <li class="breadcrumb-item"><a href="{% url 'attendance:profile' teacher.pk %}">Bosh Sahifa</a></li>
          <li class="breadcrumb-item"><a href="{% url 'attendance:attendance_list' pk=teacher.id %}">{{class_school.class_type}} Davomati</a></li>
          <li class="breadcrumb-item active" aria-current="page"> Sinflar</li>
        </ol>
      </nav>
<!-- -------------------------------------------------------------------------- -->

  <center><h1>{{class_school.class_type}} Davomati:</h1></center>
  <center><h3>{{ date }}</h3></center>
<p></p><br>
{% if error %}
  <p><strong>{{ error }}</strong></p>
{% endif %}

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title" align="center">O'quvchilar ro'yxati</h2>
        <div class="table-responsive">
            <form method="POST" class="post-form">
                {{ formset.management_form }}
                {% csrf_token %}
                <table class="table table-bordered table-hover ml-0" role="table">
                    <thead role="rowgroup">
                        <tr role="row">
                       
                            <th role="columnheader">O'quvchi<br>FISH</th>
                            <th role="columnheader">Davomat olish</th>
                        </tr>
                    </thead>
                    <tbody role="rowgroup">
                        {% for student,form in list %}              
                            <tr role="row">
                                
                                <td role="cell">{{student.student_name|truncatewords:2}}</td>
                                <td role="cell">
                                    {% for radio in form %}
                                        {{ radio }}
                                    {% endfor %}
                                </td>
                        
                            </tr>
                        {%endfor %}
                    </tbody>
                </table>
                <button type="submit" class="save btn btn-success mt-4" style="cursor: pointer"><i class="mdi mdi-check-circle"> </i>Tasdqilash</button>
            </form>
        </div>
      </div>
    </div>
  </div>
<script language="JavaScript">
    $("input[value=Bor]").prop('checked',true);
</script>

<!-- -------------------------------------------------------------------------- -->

    </div>
</div>

{% endblock %}