{% extends 'attendance/profile/base_user.html' %}
{% load static %}
{% block content %}
    <div class="content-wrapper">
      <div class="row">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
           
            <li class="breadcrumb-item"><a href="{% url 'attendance:profile' teacher.pk %}">Bosh Sahifa</a></li>
            <li class="breadcrumb-item active" aria-current="page"> Sinflar</li>
          </ol>
        </nav>
      <div class="col-lg-12 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <h2 class="card-title" align="center">Maktabdagi sinflar ro'yxati</h2>
              <div class="table-responsive">
                <table class="table table-bordered">
                  <tr align="center" valign="top">
                    <th>#</th>
                    <th><h5>Sinf nomi</h5></th>
                    <th><h5>Jami <br>o'quvchilar</h5></th>
                    <th><h5>Davomat <br>reytingi</h5></th>
                    <th><h5>Sinf haqida</h5></th>
                  </tr>
                </thead>
                <tbody>
                {%for class, percent in about_class %}                 
                  <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{class.class_type}}</td>
                    <td>{{class.class_student.count}}</td>
                    <td>{{percent}}</td>
                      <td>
                        <a href="{% url 'attendance:teacher_class_detail' pk=teacher.pk slug=class.slug %}" type="button" class="btn btn-outline-info btn-fw">Batafsil</a>
                        
                      </td>

                    </tr>
                    {%endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}