{% extends 'attendance/dashboard/base_admin.html' %}
{% block title %}Welcome {{ school.principal_name }}{% endblock %}
{% load static %}
{% block content %}
<div class="content-wrapper">
    
        <div class="row">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'attendance:dashboard'%}">Bosh sahifa</a></li>
                <li class="breadcrumb-item active">Maktab va foydalanuvchi qo'shish</li>
              </ol>
            </nav>
        {% if registered %}
        
            <h1 ></h1>
            <div class="card text-center">
                <div class="card-header">
                    *****************
                </div>
                <div class="card-body">
                  <h5 class="card-title">Yangi Foydalanuvchi Qo'shildi</h5>
                  <p class="card-text">Yangi foydalanuvchi muvafaqqiyatli qo'shildi. Siz yana foydalanuvchi qo'shishingiz yoki bosh oynaga qaytishingiz mumkin.</p>
                  <a href="{% url 'attendance:admin_add_user' %}" class="btn btn-outline-success btn-fw"><i class="mdi mdi-account-plus" aria-hidden="true"></i> Yana Foydalanuvchi Qo'shish</a>
                  <a href="{% url 'attendance:dashboard' %}" class="btn btn-outline-info btn-fw"><i class=" mdi mdi-exit-to-app" aria-hidden="true"></i> Bosh Oynaga Qaytish</a>
                </div>
                <div class="card-footer text-muted">
                  *****************
                </div>
              </div>
        
            {% else %}

            <div class="col-12 grid-margin">
                <h2 class="text-center" >Yangi foydalnuvchi qo'shish oynasi</h2>
                <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Formani to'ldiring</h4>
                    <form class="form-sample" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ user_form }}
                        {{ profile_form }}
                        {{ school_form }}
                   
               
                    <div class="btn-group mt-4" role="group" aria-label="Basic example">
                        <button type="submit" class="btn btn-info ">&nbsp &nbsp  Saqlash  &nbsp &nbsp </button>
                        <button type="button" class="btn btn-warning "> Bekor qilish</button>
                    </div>
                    </form>
                </div>
                </div>
            </div>
            {% endif %}

        







    </div>
</div>
{% endblock %}