{% extends 'attendance/dashboard/base_admin.html' %}
{% block title %}Welcome {{ school.principal_name }}{% endblock %}
{% load static %}
{% block content %}
<div class="content-wrapper">
    <div class="row">
        {% if registered %}
        
            <H1>Yangi Foydalanuvchi Qo'shildi</H1>
            <li><a href="{% url 'attendance:dashboard' %}" class="nav-link"><i class="fa fa-user-plus" aria-hidden="true"></i> Bosh Oynaga qaytish</a></li>
            <li><a href="{% url 'attendance:admin_add_user' %}" class="nav-link"><i class="fa fa-user-plus" aria-hidden="true"></i> Register again</a></li>
        {% else %}

            <div class="col-12 grid-margin">
                <h2>Yangi foydalnuvchi qo'shish oynasi</h2>
                <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Formani to'ldiring</h4>
                    <form class="form-sample" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ user_form }}
                        {{ profile_form }}
                        {{ school_form }}
                   
               
                    <div class="btn-group mt-4" role="group" aria-label="Basic example">
                        <button type="submit" class="btn btn-info ">&nbsp &nbsp  Saqlash  &nbsp &nbsp </button>
                        <button type="button" class="btn btn-warning "> Bekor qilish</button>
                    </div>
                    </form>
                </div>
                </div>
            </div>
            {% endif %}

        







    </div>
</div>
{% endblock %}