{% extends 'attendance/dashboard/base_admin.html' %}
{% block title %}Welcome {{ school.principal_name }}{% endblock %}
{% load static %}
{% block content %}
<div class="content-wrapper">
    <div class="row">
        <div align="center">
          <h2 class="mb-4" style="position: center;"> {{schools}} Haqida Ma'lumot</h2>
        <h4>Maktab {{schools.situated_region}} viloyati {{schools.situated_district}} tumanida joylashgan</h4>
        <h4>Davomat uchun javobgar shaxs: {{ schools.principal.teacheruser.first_name}} {{ schools.principal.teacheruser.last_name}}</h4>
        <h4>Telefon Raqami: {{ schools.principal.teacheruser.phone}} </h4>
        <h4>Jami sinflar soni: {{schools.school_class.count}} ta</h4>
        <h4>Jami o'quvchilar soni: {{schools.school_student.count}} ta</h4>
        </div>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'attendance:dashboard'%}">Bosh sahifa</a></li>
            <li class="breadcrumb-item"><a href="{% url 'attendance:admin_school_list'%}">Maktablar ro'yxati</a></li>
            <li class="breadcrumb-item active">{{schools}}</li>
          </ol>
        </nav>
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">             
                    <h1 class="card-title">Maktabdagi sinflar ro'yxati</h1> 
                <div class="table-responsive">
                  <table class="table table-bordered">
                    <thead>
                      <tr align="center" valign="top">
                        <th>#</th>
                        <th><h5>Sinf nomi</h5></th>
                        <th><h5>Jami <br>o'quvchilar</h5></th>
                        <th><h5>Davomat <br>reytingi</h5></th>
                        <th><h5>Sinf haqida</h5></th>
                      </tr>
                    </thead>
                    <tbody>
                    {%for class, percent in about_class %}                 
                      <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{class.class_type}}</td>
                        <td>{{class.class_student.count}}</td>
                        <td>{{percent}}</td>
                        <td>
                          <div class="btn-group" role="group" aria-label="Basic example">
                            <a href="{% url 'attendance:admin_class_detail' pk=schools.pk slug=class.slug %}" type="button" class="btn btn-outline-info btn-fw">Batafsil Ma'lumot</a>
                          </div>

           
                        </td>
                      </tr>
                      {%endfor %}
                    </tbody>     
                  </table>
                </div>
  
                                    <!-- Student create with file button start-->
                                    
              </div>
            </div>
          </div>
          
</div>
{% endblock content %}